@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-w-90 {
    max-width: 90%;
  }
  /* i stands for important */
  .mi-unset {
    margin: unset !important;
  }
  .bg-modal {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
